.mask {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  z-index: 100;
}

.dialog {
  width: 480px;
  background: #fff;
  border-radius: 5px;

  .title2 {
    position: relative;
    text-align: center;

    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    letter-spacing: 2px;
    background: linear-gradient(to left, #E0CB89, #de9649);

    p {
      color: #fff;
    }

    i {
      position: absolute;
      width: 15px;
      height: 15px;
      background: url("~src/assets/img/close_w.svg") no-repeat center center;
      right: 15px;
      top: 15px;
      cursor: pointer;
    }
  }
}

input {
  // width: 77.6vw;
  // height: 9.87vw;
  // font-size: 14px;

  width: 322px;
  height: 42px;

  text-align: center;

  margin-top: 19px;
}

input::placeholder {
  color: #b3b3b3;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 0 15px 0;

  button {
    width: 322px;
    height: 42px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #fff;
    border: 1px solid #cca172;
    border-radius: 3px;
  }

  .err {
    margin: 5px 0px;
  }

  .orange_btn {
    margin-top: 15px;
    margin-bottom: 0px;
  }
}

form {
  p {
    font-size: 14px;
    line-height: 31px;
    color: #b0b0b1;
    margin: 15px 0;
  }
}
