<div class="main">
  <div class="bg"></div>
  <div class="ml">
    <div class="link_div">
      <h1>{{"merchants.h1"|translate}}</h1>
      <h2>{{"merchants.h2"|translate}}</h2>
      <div>
        <ul>
          <li><span>{{"merchants.li.l1"|translate}}</span></li>
          <li><span>{{"merchants.li.l2"|translate}}</span></li>
          <li><span>{{"merchants.li.l3"|translate}}</span></li>
          <li>
            <a ng-href="#">
              <div></div><span>{{"merchants.li.l4"|translate}}</span>
            </a>
          </li>
          <li>
            <a ng-href="#">
              <div></div><span>{{"merchants.li.l5"|translate}}</span>
            </a>
          </li>
          <li>
            <a ng-href="#">
              <div></div><span>{{"merchants.li.l6"|translate}}</span>
            </a>
          </li>
        </ul>
      </div>
      <a class="join" ng-href="#">{{"NAV.JOIN"|translate}}</a>
    </div>
    <!-- 手機圖 -->
    <div class="mobileImg">
      <img src="{{ mobileImg }}" />
    </div>
    <!-- 盈利佣金 -->
    <div class="money">
      <h1>{{"merchants.money.title"|translate}}</h1>
      <div class="m1">
        <p>{{"merchants.money.p1"|translate}}</p>
        <p>{{"merchants.money.p2"|translate}}</p>
      </div>
      <div class="m2">
        <p>{{"merchants.money.p3"|translate}}</p>
        <p>{{"merchants.money.p4"|translate}}</p>
      </div>
    </div>
  </div>
  <div class="mr">
    <img class="img01" src="assets/img/merchants/join_01.png">
    <div class="app">
      <h1>{{"merchants.app.title"|translate}}</h1>
      <P>{{"merchants.app.p1"|translate}}</P>
      <div class="app_li">
        <ul>
          <li><span>{{"merchants.app.li01"|translate}}</span></li>
          <li><span>{{"merchants.app.li02"|translate}}</span></li>
          <li><span>{{"merchants.app.li03"|translate}}</span></li>
          <li><span>{{"merchants.app.li04"|translate}}</span></li>
        </ul>
      </div>
      <p class="p2">{{"merchants.app.p2"|translate}}</p>
    </div>
    <div class="data">
      <ul class="dataUl">
        <li>
          <div class="goldBorder2">
            <div>
              <ul class="data_ul">
                <li>{{"merchants.member_num"|translate}}</li>
                <li>{{"merchants.commission"|translate}}</li>
                <li>{{"merchants.data.li01.str1"|translate}}</li>
                <li>{{"merchants.data.li01.str2"|translate}}</li>
              </ul>
              <span class="opacity"></span>
              <span
                class="opacity_text"><i>{{"merchants.profit"|translate}}</i><i>{{"merchants.data.li01.str3"|translate}}</i></span>
            </div>
          </div>
        </li>
        <li>
          <div class="goldBorder2">
            <div>
              <ul class="data_ul">
                <li>{{"merchants.member_num"|translate}}</li>
                <li>{{"merchants.commission"|translate}}</li>
                <li>{{"merchants.data.li02.str1"|translate}}</li>
                <li>{{"merchants.data.li02.str2"|translate}}</li>
              </ul>
              <span class="opacity"></span>
              <span
                class="opacity_text"><i>{{"merchants.profit"|translate}}</i><i>{{"merchants.data.li02.str3"|translate}}</i></span>
            </div>
          </div>
        </li>
        <li>
          <div class="goldBorder2">
            <div>
              <ul class="data_ul">
                <li>{{"merchants.member_num"|translate}}</li>
                <li>{{"merchants.commission"|translate}}</li>
                <li>{{"merchants.data.li03.str1"|translate}}</li>
                <li>{{"merchants.data.li03.str2"|translate}}</li>
              </ul>
              <span class="opacity"></span>
              <span
                class="opacity_text"><i>{{"merchants.profit"|translate}}</i><i>{{"merchants.data.li03.str3"|translate}}</i></span>
            </div>
          </div>
        </li>
        <li>
          <div class="goldBorder2">
            <div>
              <ul class="data_ul">
                <li>{{"merchants.member_num"|translate}}</li>
                <li>{{"merchants.commission"|translate}}</li>
                <li>{{"merchants.data.li04.str1"|translate}}</li>
                <li>{{"merchants.data.li04.str2"|translate}}</li>
              </ul>
              <span class="opacity"></span>
              <span
                class="opacity_text"><i>{{"merchants.profit"|translate}}</i><i>{{"merchants.data.li04.str3"|translate}}</i></span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
