<div class="search-contain">
  <form appThrottleBtn (action)="query()">
    <div class="input-box form">
      <div class="f-body">
        <div class="f-row">
          <div class="f-column">
            {{ "REVIEW_RECORD.SEARCH.COL-TYPE" | translate }}
          </div>
          <div class="f-input">
            <!-- <select [formControl]="selectReview"> -->
            <select [formControl]="optionsCtrl">
              <option value="all" *ngIf="tab == Tabs.WALLET">
                {{ "BET_LOG.ALL_PLATFORM" | translate }}
              </option>
              <!-- <option value="all" *ngIf="tab == Tabs.TRANSFER">
                {{ "REVIEW_STATUS.ALL" | translate }}
              </option> -->
              <option *ngFor="let item of options" [value]="item.value">
                {{ item.label }}
              </option>
            </select>
          </div>
        </div>
        <div class="f-row">
          <div class="f-column">
            {{ "REVIEW_RECORD.SEARCH.COL-DATE" | translate }}
          </div>
          <div class="f-input">
            <ejs-daterangepicker
              [formControl]="daterangepicker"
              [locale]="locale"
            ></ejs-daterangepicker>
          </div>
        </div>
      </div>
    </div>
    <app-date-selector (timeEvt)="setTime($event)"></app-date-selector>
    <div class="btn-box">
      <button class="orange_btn">
        {{ "REVIEW_RECORD.SEARCH.CONFIRM" | translate }}
      </button>
    </div>
  </form>
</div>
