.record-table {
  font-size: 13px;
  font-weight: bold;
  padding: 20px;
  // border: 1px solid #cccccc;
  border-radius: 5px;
  overflow: hidden;

  h1 {
    font-size: 17px;
  }

  .wNo {
    width: 8%;
    // -ms-word-break: break-all;
  }

  .wStatus {
    width: 10%;
  }

  .wVal {
    width: 13%;
  }

  .wLimit {
    width: 13%;
  }

  .wShift {
    width: 13%;
  }

  .wUnlock {
    width: 8%;
  }

  .wDate {
    // width: 11%;
    width: 14.5%;
  }

  .wOp {
    width: 7%;
  }

  .wDrawback {
    // width: 6%;
    width: 9.5%;
  }

  .wBethistory {
    width: 6%;
  }

  .wPs {
    width: 5%;
  }

  .thead {
    min-height: 50px;
    border-bottom: 2px solid #7783f2;
    align-items: center;

    li {
      text-align: center;
      border-right: 1px solid #e6e6e6;

      &:last-child {
        border-right: none;
      }
    }
  }

  .tr {
    button {
      background: none;
    }

    &.expand {
      & > .ps {
        display: flex;
      }

      .expand-btn {
        transform: rotate(90deg);
      }
    }

    & > ul {
      li {
        height: 61px;

        display: flex;
        justify-content: center;
        align-items: center;

        text-align: center;
        color: #1a1a1a;

        overflow-wrap: break-word;
        word-break: break-word;

        border-bottom: 2px solid #f3f3f3;

        &.wShift {
          color: #42a600;
        }
      }

      button {
        width: 45px;
        height: 29px;
        border-radius: 3px;
        border: 1px solid currentColor;

        &:not(.expand-btn) {
          &:disabled {
            background: #e6e6e6;
            color: #b3b3b3;
            border: none;
            cursor: initial;
          }
        }
      }

      .d-btn {
        color: #e11515;
      }

      .b-btn {
        color: #29abff;
      }

      .expand-btn {
        width: 20px;
        height: 20px;
        border: none;
        // transform: rotate(90deg);
        transform: rotate(270deg);
        background: url("~src/assets/img/arrow_gray.svg") no-repeat center
          center;

        &:disabled {
          opacity: 0.3;
          cursor: initial;
          background: url("~src/assets/img/arrow_gray.svg") no-repeat center
            center !important;
        }
      }
    }

    & > .ps {
      display: none;
      align-items: center;
      border-bottom: 1px solid #e6e6e6;

      .ps-title {
        width: 73px;
        text-align: center;
        flex-shrink: 0;
        color: #999;
      }

      .txt {
        padding: 12px;
        color: #4d4d4d;
      }
    }
  }
}

.panel {
  width: 976px;
  font-weight: bold;
  text-align: center;
  background: #fff;
  border-radius: 10px;

  .header {
    height: 70px;
    line-height: 70px;
    font-size: 24px;
    padding: 0 30px;

    text-align: left;

    position: relative;

    border-bottom: none;

    .title {
      letter-spacing: 1px;
    }

    .close-btn {
      width: 29px;
      height: 29px;
      position: absolute;
      top: 20px;
      right: 23px;
      background: url("~src/assets/img/close_gy.svg") no-repeat center center;
    }
  }

  .cnt {
    min-height: auto;
    padding: 0 30px 23px;
    letter-spacing: normal;

    & > .no {
      text-align: left;
      font-size: 20px;
      letter-spacing: 2px;
      color: #000;
      // margin: 0 0 23px;
    }
  }

  table {
    width: 100%;
    // border: 1px solid #cccccc;
    border-radius: 5px;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    margin: 18px 0 0;

    &.bet-record {
      th {
        width: 25%;
      }

      td {
        &.money {
          color: #42a600;
        }
      }
    }

    .wStatus {
      width: 14%;
    }

    .wShift {
      width: 16%;
    }

    .wDate {
      width: 15%;
    }

    .wOp {
      width: 10%;
    }

    .wPs {
      width: 45%;
    }

    thead {
      font-size: 12px;

      th {
        line-height: 35px;
        border-bottom: 2px solid #f08a8a;
        // height: 35px;
      }
    }

    tbody {
      font-size: 13px;

      .wShift {
        color: #fc4d14;
      }

      .wPs {
        padding: 5px;
        line-height: 1.5;
        letter-spacing: 0;

        color: hsl(0, 0%, 30%);
        text-align: left;
      }
    }

    tr {
      background: none;
    }

    td {
      // border-right: 1px solid #e6e6e6;
      border-bottom: 1px solid #cccccc;
      line-height: 35px;

      &:last-of-type {
        border-right: none;
      }
    }
  }

  .sum-area {
    width: 916px;
    font-size: 15px;

    margin: 0 auto;
    padding: 20px;

    text-align: right;
    color: #1a1a1a;

    border-top: 2px solid #fa8875;

    // ::ng-deep em {
    //     color: #fc8414;
    // }

    .val {
      margin: 0 0 0 15px;
      color: #fc4d14;

      &.makeup {
        color: #42a600;
      }
    }
  }
}
