ul {
  height: 319px;
  padding: 15px 0;
  overflow: auto;
}

li {
  // outline: 1px solid pink;
  width: 233px;
  height: 62px;
  margin: 0 auto 10px;
  background-size: contain !important;
}

.no-data {
  text-align: center;
  line-height: 319px;
}
