.slot-wrap {
  font-weight: bold;
  padding: 0 0 41px 0;
  background: url("~src/assets/img/home_bg.jpg") center center;
}

.search-icon {
  width: 20px;
  height: 20px;
  background: url("~src/assets/img/search.svg") no-repeat;
  background-size: contain;

  // outline: 1px solid pink;
}

.favor-icon {
  width: 23px;
  height: 21px;
  background: url("~src/assets/img/slot/love1.svg") no-repeat center;
  background-size: contain;
  margin-top: 5px;

  &.active {
    background: url("~src/assets/img/slot/love2.svg") no-repeat center;
  }
}

.platform-inside-header {
  height: 562px;
  justify-content: center;
  align-items: center;
  margin: 0 0 40px;
  background: url("~src/assets/img/slot/slot_Inside_background.png") no-repeat
    center center;
  background-size: cover;

  .platform-cover {
    max-width: 319px;
    height: auto;

    & > img {
      width: 319px;
      height: 100%;
    }
  }
}

.slot-header {
  // outline: 1px solid pink;
  // height: 587px;
  // display: flex;
  // flex-direction: row;
  // justify-content: space-around;
  // align-content: center;

  // .title-main {
  //   // outline: 1px solid pink;
  //   padding-top: 162px;
  //   // width: 50%;

  //   .title {
  //     line-height: 1;
  //     font-weight: bold;
  //     display: flex;
  //     align-items: flex-end;
  //     color: #3d4cce;

  //     p:nth-child(1) {
  //       // letter-spacing: 17px;
  //       letter-spacing: 6px;
  //       font-size: 62px;
  //     }

  //     p:nth-child(2) {
  //       letter-spacing: 0;
  //       font-size: 42px;
  //       padding-bottom: 5px;
  //     }
  //   }

  //   .description {
  //     // margin-top: 50px;
  //     margin: 25px 0 0 0;
  //     // width: 583px;
  //     width: 522px;
  //     font-size: 14px;
  //     line-height: 24px;
  //     letter-spacing: 1px;
  //     color: #666666;
  //   }
  // }

  // .cover-main {
  //   .banner {
  //     width: 600px;
  //     height: 586px;
  //     background: url("~src/assets/img/slot/slot.png") no-repeat;
  //     background-size: contain;
  //   }
  // }
}

// .slot-body {
// font-weight: bold;
// outline: 1px solid pink;
// }

.filters {
  // outline: 1px solid pink;
  height: 70px;
  width: calc(100% - (26px * 2));
  // padding: 0 26px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dedede;

  .tags {
    line-height: 70px;
    font-size: 18px;
    letter-spacing: 2px;
    color: #666;
  }

  li {
    // outline: 1px solid pink;
    position: relative;
    padding: 0 50px;
    cursor: pointer;

    &.active {
      color: #dcb160;

      &:before {
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        position: absolute;
        left: 0;
        bottom: 0;
        background: #c7a16e;
      }
    }

    &:hover {
      color: #c7a16e;

      &:before {
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        position: absolute;
        left: 0;
        bottom: 0;
        background: #c7a16e;
      }

      &:after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 7.5px 10px 7.5px;
        border-color: transparent transparent #c7a16e transparent;
        position: absolute;
        bottom: 0;
        left: calc(50% - 7.5px);
      }
    }
  }
}

.search {
  position: relative;
  width: 330px;
  height: 40px;
  // line-height: 38px;

  border-radius: 5px;
  border: 1px solid #e6e6e6;
  // outline: 1px solid pink;

  input {
    width: 100%;
    height: 100%;
    padding: 0 0 0 41px;
    border: none;
    // outline: 1px solid red;
  }

  .search-icon {
    position: absolute;
    left: 12px;
    top: 8px;
  }
}

.cnt {
  padding: 24px 48px 40px;
  & > .no-data {
    height: 283px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.platforms {
  & > li {
    // outline: 1px solid pink;
    margin: 0 0 53px;
  }
}

.p-head {
  // outline: 1px solid pink;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 13px;
  padding-left: 5px;
  height: 70px;

  &.maintain {
    filter: grayscale(1);
  }

  img {
    // width: 190px;
    height: 85%;
    // outline: 1px solid pink;
  }

  .buttom-return,
  .all-btn {
    width: 137px;
    height: 40px;
    font-size: 18px;
    letter-spacing: 2px;
    // color: #c69c6d;
    color: #fff;
    border: 1px solid currentColor;
    border-radius: 5px;
    // background: none;
    display: flex;
    justify-content: center;
    align-items: center;

    &:active {
      opacity: 0.8;
    }

    i {
      width: 13px;
      height: 15px;
      background: url("~src/assets/img/slot/arrow.svg") no-repeat;
      background-size: contain;
      transform: rotate(180deg);
      margin-left: 18px;
      margin-top: 1px;
    }
  }

  .buttom-return {
    i {
      transform: rotate(0);
      margin: 0 18px 0 0;
    }
  }
}

.game-list {
  // justify-content: space-between;

  &.wrap {
    flex-wrap: wrap;
    margin: 0 -18px -9px 0;

    & > li {
      &:not(:last-child) {
        margin: 0 14px 28px 0;
      }
    }
  }

  & > li {
    position: relative;
    width: 250px;
    height: 200px;
    flex-shrink: 0;
    border: 1px solid #b3b3b3;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;

    &:not(:last-child) {
      margin: 0 14px 0 0;
    }

    app-maintain-tip {
      width: 100%;
      z-index: 1;
      .maintain {
        width: 100%;
        padding: 20% 0 0;
      }
    }

    .pic {
      height: 165px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      background-color: #c7a16e;
      // outline: 1px solid pink;
      &.maintain-blur {
        z-index: 0;
      }
    }

    .text {
      height: 35px;
      padding: 0 20px;
      font-size: 18px;
      justify-content: space-between;
      // align-items: center;
      line-height: 31px;
      border-top: 1px solid #b3b3b3;

      p {
        width: 180px;
      }
    }
  }
}

.marquee-wrap {
  // width: 100%;
  margin: 32px 0;
  // position: absolute;
  // bottom: 10px;

  .announcement_page {
    width: 1400px;
    margin: 0 auto;
    border-radius: 45px;
    box-shadow: 0 0 13px 3px #dee1f5;
  }
}
